{
    "ecmaFeatures": {
      "blockBindings": true,
      "forOf": true,
      "jsx": true,
      "modules": true,
      "arrowFunctions": true,
      "binaryLiterals": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "experimentalObjectRestSpread": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true
    },
    "globals": {
        "define": 1,
        "logger": 1,
        "__DEVTOOLS__": 1,
        "__DEVELOPMENT__": 1,
        "expect": 1
    },
    "rules": {
        "key-spacing": [2, {"mode": "minimum", "beforeColon": false, "afterColon": true}],
        "no-trailing-spaces": 1,
        "semi": 2,
        "block-scoped-var": 2,
        "no-unused-vars": [1, { "args": "none" }],
        "no-debugger": 2,
        "curly": [2, "multi-line"],
        "quotes" : 0,
        "no-dupe-args": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-underscore-dangle": 0,
        "eqeqeq": 0,
        "comma-spacing": 1,
        "space-infix-ops": 1,
        "semi-spacing": 1,
        "no-multi-spaces": 1,
        "space-after-keywords": 2,
        "space-before-function-paren": [2, "never"],
        "space-before-blocks": 2,
        "no-shadow": 0,
        "strict": 0,
        "eol-last": 2,
        "no-unreachable": 2,
        "no-dupe-keys": 2,
        "no-undef": 1,
        "no-var": 0,
        "object-shorthand": [1, "methods"],
        "prefer-template": 0,
        "no-useless-concat": 1
    },
     "env": {
        "browser": true,
        "node": true,
        "mocha": true
    }
}
